.get-app-modal {
	&-header {
		&-container {
			display: flex;
			flex-direction: column;
			gap: 4px;
			// padding: 24px;
		}

		&-title {
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 24px;
			font-weight: 700;
			line-height: 40px;
		}

		&-description {
			color: #6c6c75;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 13px;
			font-weight: 400;
			line-height: 16px;
		}
	}

	&-body {
		&-container {
			width: 552px;
			display: flex;
			flex-direction: column;
			padding: 17px;
		}

		&-content {
			&-container {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			&-left {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 16px;
			}

			&-right {
				display: flex;
				flex-direction: column;
				gap: 8px;

				&-price {
					color: #282934;
					font-family: 'Source Sans Pro', sans-serif;
					font-size: 12px;
					font-weight: 600;
					line-height: 16px;
				}

				&-value {
					color: #282934;
					font-family: 'Source Sans Pro', sans-serif;
					font-size: 18px;
					font-weight: 600;
					line-height: 20px;
				}
			}

			&-image {
				width: 56px;
				height: 56px;
			}

			&-app-info {
				&-container {
					display: flex;
					flex-direction: column;
				}

				&-name {
					color: #282934;
					font-family: 'Source Sans Pro', sans-serif;
					font-size: 16px;
					font-weight: 600;
					line-height: 24px;
				}

				&-version {
					color: #54555f;
					font-family: 'Source Sans Pro', sans-serif;
					font-size: 16px;
					font-weight: 400;
					line-height: 24px;
				}
			}

			&-alert {
				&-icon {
					width: 16px;
					height: 16px;
					margin-right: 12px;
					filter: invert(31%) sepia(51%) saturate(769%)
						hue-rotate(179deg) brightness(100%) contrast(98%);
				}

				&-message {
					color: #54555f;
					font-family: 'Source Sans Pro', sans-serif;
					font-size: 13px;
					font-weight: 400;
					line-height: 16px;
				}
			}
		}
	}

	&-button {
		&-cancel {
			width: 78px;
			background: none;
			height: 40px;
			border-radius: 8px;
			border: solid 2px #2b3a4b;
			color: #2b3a4b;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 16px;
			font-weight: 600;
			line-height: 24px;
		}

		&-get-this-app {
			width: 118px;
			background-color: #0053f0;
			height: 40px;
			border: none;
			border-radius: 8px;
			color: #fff;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 16px;
			font-weight: 600;
			line-height: 24px;
		}
	}

	&-body {
		&-card-container {
			width: 552px;
			height: 179px;
			border: 1px solid #e2e2e4;
			border-radius: 10px;
		}

		&-card-header {
			width: 552px;
			height: 56px;
			padding: 20px 16px;
			background-color: #e2e2e4;
			border-radius: 8px 8px 0 0;
			display: flex;
			justify-content: space-between;
			align-items: center;

			&-left-content {
				color: #54555f;
				font-family: 'Source Sans Pro', sans-serif;
				font-size: 14px;
				font-weight: 600;
				line-height: 16px;
			}

			&-right-content {
				&-container {
					display: flex;
					gap: 8px;
					align-items: center;
					justify-content: center;
				}

				&-account-info {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: end;

					&-name {
						color: #282934;
						font-family: 'Source Sans Pro', sans-serif;
						font-size: 14px;
						font-weight: 600;
						line-height: 16px;
					}

					&-email {
						color: #54555f;
						font-family: 'Source Sans Pro', sans-serif;
						font-size: 11px;
						font-weight: 400;
						line-height: 16px;
					}

					&-icon {
						width: 24px;
						height: 24px;
					}
				}
			}
		}
	}

	&-double-input {
		display: flex;
		justify-content: space-between;

		.form-group {
			width: 260px;
		}
	}

	&-info-icon {
		filter: invert(65%) sepia(4%) saturate(515%) hue-rotate(196deg)
			brightness(95%) contrast(84%);
		height: 16px;
		margin-right: 12px;
		width: 16px;
		vertical-align: sub;
	}

	&-use-terms {
		color: #54555f;
		font-size: 13px;
	}

	&-text-divider {
		display: flex;
		align-items: center;
		margin: 40px 0;
		color: #54555f;

		&::before,
		&::after {
			content: '';
			height: 1px;
			background-color: #e2e2e4;
			flex-grow: 1;
			margin-right: 24px;
		}

		&::before {
			margin-right: 24px;
		}
		&::after {
			margin-left: 24px;
		}
	}
	&-payment-methods {
		display: flex;
		gap: 16px;
		margin-bottom: 32px;
	}
}
