.lfr-objects__autocomplete {
	&-see-more {
		margin: 16px;

		button {
			width: 100%;
		}
	}
}

.dropdown-menu {
	max-width: 550px;
	width: 100%;
}

@media (max-width: 768px) {
	.dropdown-menu {
		max-width: 505px;
	}
}
